<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" style="padding-left: 40%;" enctype="multipart/form-data">
        <label>Username:</label>
        <input name="username"style="align-content: center;" type="text"><br>
        <label>Password:</label>
        <input name="password"style="align-content: center;" type="password"><br>
        <input style="margin-top: 10%;" type="submit"><br>
        {{ msg }}
    </form>
    
</body>
</html>