<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form method="post">
        <img src="../static/assets/img/common-questionaire/dots.jpeg">
        <input type="radio" id="html" name="q1" value="Yes">
        <label for="html">7</label><br>
        <input type="radio" id="css" name="q1" value="No">
        <label for="css">5</label><br>
      
        <br>  
      
        <img src="../static/assets/img/common-questionaire/dots.jpeg">
        <input type="radio" id="html" name="q2" value="Yes">
        <label for="html">7</label><br>
        <input type="radio" id="css" name="q2" value="No">
        <label for="css">5</label><br><br>

      <img src="../static/assets/img/common-questionaire/dots.jpeg">
        <input type="radio" id="html" name="q3" value="Yes">
        <label for="html">7</label><br>
        <input type="radio" id="css" name="q3" value="No">
        <label for="css">5</label>
      <br><br><br>
        <input type="submit" value="Submit">
      </form>
</body>
</html>